html{
    width: 100%;
    height: 100%;
    background-image: url("../images/Mathematics.jpg");
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Comic Sans MS;
    overflow: hidden;
}

header{
    margin-top: 10px;
    background-color: rgb(255, 255, 204);
    border-style: solid;
    height: 70px;
}
main{
    margin: 0 auto;
    margin-top: 120px;
    width: 700px;
    height: 450px;
    padding: 5px; 
    background-color: rgb(255, 255, 204);
    border-style: solid;
}

footer{
    margin-top: 125px;
    background-color: rgb(255, 255, 204);
    border-style: solid;
}

h1, h2, h3{
    text-align: center;
}